<div class="text-on-image-background" fxLayout fxLayoutAlign="center center">
  <img src="../../../assets/img/testlogo2.png" alt="landing page image background" class="landing">
  <div fxLayout="column" fxLayoutAlign="center center" class="text-on-image-foreground">
    <h1 class="mat-display-4 text">THIS IS A SEED</h1>
    <h2 class="text" text>TAKE MY SED PLEASE</h2>
  </div>
</div>

<div class="spacer" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex></div>
  <h1 class="mat-display-3">This is Sample Text for a Spacer</h1>
  <div fxFlex></div>
</div>

<div class="full-page"
    fxLayout="row"
    fxLayoutAlign="center center">

  <div class="side-pane" fxLayout="column">
    <div fxFlex></div>
  </div>

  <div class="main-content" fxLayout="column">
    <div fxFlex></div>
  </div>

  <div class="side-pane" fxLayout="column">
    <div fxFlex></div>
  </div>

</div>