<mat-toolbar fxLayout fxLayoutAlign="center center" class="page-title" color="primary">
  <h1 class="mat-headline">Register</h1>
</mat-toolbar>


<div fxLayout="row nowrap" fxLayoutAlign="space-between stretch"> <!-- Login Form -->
  <div fxFlex="1 2 20%"></div>
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
<!-- =========================================================================================================================================== -->
    <h3 fxFlex>Login to your Account</h3>

    <form [formGroup]="registerForm" fxLayout="column">
      <mat-form-field fxFlex>
        <input formControlName="email" matInput placeholder="email" type="text">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input formControlName="password" matInput placeholder="password" type="password">
      </mat-form-field>
    </form>

    <button fxFlex [disabled]="!loginForm.valid" mat-raised-button (click)="onRegister()">Register</button>
<!-- =========================================================================================================================================== -->
  </div>
  <div fxFlex="1 2 20%"></div>
</div>
