<mat-toolbar fxLayout fxLayoutAlign="center center" class="page-title" color="primary">
  <h1 class="mat-headline">Login</h1>
</mat-toolbar>

<div fxLayout="row nowrap"> <!-- Login Form -->
  <div fxFlex="1 2 20%" fxHide.lt-md></div>
  <div fxFlex fxLayout="row wrap" class="full-page" fxLayoutGap="10px">
<!-- =========================================================================================================================================== -->
  <mat-card fxLayout="column" fxFlexFill>
    <mat-card-title fxFlex>Login to your Account</mat-card-title>

    <mat-card-content>
        <form [formGroup]="loginForm" fxLayout="column">
          <mat-form-field fxFlex>
            <input formControlName="username" matInput placeholder="username or email" type="text">
          </mat-form-field>
    
          <mat-form-field fxFlex>
            <input formControlName="password" matInput placeholder="password" type="password">
          </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions fxLayout>
        <button mat-button>Forgot Password</button>
    </mat-card-actions>

    <div fxLayout fxLayoutGap="20px">
      <button fxFlexFill [disabled]="!loginForm.valid" mat-raised-button color="primary" (click)="onLogin()">Login</button>
    </div>
  </mat-card>
<!-- =========================================================================================================================================== -->
  </div>
  <div fxFlex="1 2 20%" fxHide.lt-md></div>
</div>