<div fxLayout="column" fxLayoutAlign="center center">
    <h3 mat-dialog-title>Password Reset</h3>

    <div mat-dialog-content>
        <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
          <mat-form-field>
            <input matInput
              type="text"
              id="email"
              name="email"
              ngModel
              placeholder="email"
              required>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]>Close</button>
    </div>

</div>