<mat-toolbar fxLayout
  fxLayoutAlign="center center"
  class="header">

    <div fxFlex routerLink="/">
        <button mat-button><h1>CAMERONS SEED</h1></button>
    </div>

    <div fxFlex></div>


    <ng-template [ngIf]="!(authState | async).authenticated">
        <div fxHide.lt-sm >
            <a routerLinkActive routerLink="login" mat-button>Login</a>
            <a routerLinkActive routerLink="register" mat-button>Register</a>
        </div>
    </ng-template>

    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon *ngIf="!this.isOpen">menu</mat-icon>
            <mat-icon *ngIf="this.isOpen">clear</mat-icon>
        </button>
    </div>

</mat-toolbar>

