<mat-toolbar fxLayout
  fxLayoutAlign="center center"
  class="header">

    <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <div fxFlex routerLink="/">
        <button mat-button><h1>CAMERON SEED</h1></button>
    </div>

    <div fxFlex></div>


    <ng-template [ngIf]="!(authState | async).authenticated">
        <div fxHide.lt-sm >
            <a routerLinkActive routerLink="/login" mat-button>Login</a>
            <a routerLinkActive routerLink="/register" mat-button>Register</a>
        </div>
    </ng-template>

</mat-toolbar>


